@import "tailwindcss";

.login {
  background: url("https://t3.ftcdn.net/jpg/05/06/79/02/360_F_506790264_N8BVZ9NLLRrTAShK6PADQmo0SZ4LUuJJ.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
:where(.css-dev-only-do-not-override-vrrzze).ant-menu-dark.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-vrrzze).ant-menu-dark
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  backdrop-filter: blur(10px);
  padding: 10px 0;
}

body {
  overflow-x: hidden;
}
